xml 2/tutors.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tutors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="coursetutors">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="Expertise" type="xs:string" />
              <xs:element name="course-name" type="xs:string" />
              <xs:element name="university" type="xs:string" />
              <xs:element name="other-courses" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>