xml 1/coursepage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="coursepage">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="course">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="about" type="xs:string" />
              <xs:element name="referenceBookby" type="xs:string" />
              <xs:element name="price" type="xs:string" />
              <xs:element name="duration" type="xs:string" />
              <xs:element name="availability" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>